.footer-teste{
    height: 80px;
}
.destaque{
    display: flex;
    max-width: 100%;
    align-items: center;
}
.destaque-align {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.destaque-conteudo-faixa_azul{
    width: 5rem;
    height: 2px;
}

.proposta-top{
    border-bottom: 1px solid #0095DA;
}
.proposta-texto{
    min-height: 200px;
}
.votacao-container {
    display: flex;
    flex-flow: row;
}
.proposta-sim{
    background: #69c27d;
    height: 0.8rem;
    width: 6rem;
    align-self: center;
}
.proposta-nao{
    background: #d9534f;
    height: 0.8rem;
    width: 1rem;
    align-self: center;
}
.btn{
    border-radius: 0 !important;
}
.votacoes-container{
    align-items: flex-start;
}
.proposta-resultado--wrapp {
    display: flex;
    align-items: flex-start;
    justify-items: flex-start;
    
}
.proposta-bar--wrapp {
    float: left;
    display: flex;
}
/*COMPONENTE TIMELINE*/
.line-content {
    display: inline-flex;
    position: relative;
    min-height: 40px;
}
.line-width {
    width: 240px;
}
.line-item {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    z-index: 1;
    padding-top: 14px;
}
.line-bar {
    display: inline-block;
    width: 80%;
    height: 10px;
    background-color: var(--gray-color);;
    position: absolute;
    bottom: 2px;
}
.line-squares {
    width: 10px;
    height: 10px;
    background-color: var(--gray-color);;
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
}
.line-squares--wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 1px;
    /* margin-left: 5px; */
    margin-right: 5px;
}
@supports (-ms-ime-align:auto) {
    .line-squares--wrapper {
        margin-bottom: 0;
    }
}
.line-hide {
    padding-left: 5px;
    padding-right: 5px;
    background-color: #fff;
}
.border-radius-0{
    border-radius: 0px;
}

.border-propostas{
    border-style: solid;
    border-color: var(--default-color);
}

.media-hottopics {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  
  .media-body-hottopics {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }