#estudos_legislativos{
    margin-top: 4rem;
}

.estudos_legislativos{
    margin-top: 1rem;
}

.estudo_legislativo{
    display: flex;
    margin: 0 0.8rem 2rem 0.8rem;
    border-bottom: 3px solid #0095DA;
    padding-bottom: 1rem;
    padding-left: 0;
}
.estudo_legislativo-img{
    margin-right: 1rem;
    height: 3.5rem;
}
.estudo_legislativo-titulo{
    font-size: small;
}


.estudo_legislativo-texto{
    font-size: small;
    font-weight: bold;
}

.icon-folha_pautada{
    font-size: 240%;
    color: #c4c4c4;
    margin-right: 0.8rem;
}