#propostas_relacionadas{
}
.propostas{
    display: flex;
    justify-content: space-between;
}
.proposta{
    padding: 2rem;
    border: 3px solid #cccccc;
    /* margin: 0.8rem;
    min-width: 328px; */
}
.proposta-top{
    /* padding-bottom: 1.5rem; */
    border-bottom: 1px solid #0095DA;
    /* display: flex;
    flex-direction: column;
    align-items: flex-start; */
}
.proposta-icone_titulo{
    display: flex;
    flex-direction: row;
    margin-right: 0.5rem;
}
.proposta-titulo{
    color: #0095DA;
    font-size: 2rem;
    font-weight: 300;
    padding-top: 0.3rem;
}
.icon-exclamacao{
    padding-top: 0.6rem;
    margin-right: 1rem;
    font-size: 210%;
    color: #c4c4c4;
}
.proposta-texto{
    font-size: 1.2rem;
    margin: 1.6rem 0;
    min-height: 200px;
}
.proposta-situacao-titulo{
    font-size: x-small;
    font-weight: bold;
}
.proposta-resultado_voto{
    font-size: x-small;
    /* font-weight: bold;
    margin: 0; */
}
.proposta-resultado_numero_de_votos{
    font-size: x-small;
}
.proposta-situacao-status{
    font-size: x-small;
}
.proposta-situacao-proximo_evento{
    font-size: x-small;
    color: #0095DA;
}

.votacoes-container{
    /* display: flex;
    flex-flow: column; */
}
.votacao-container {
    /* display: flex;
    flex-flow: row;
    margin: 0.1rem 0; */
}
.proposta-sim{
    background: #69c27d;
    height: 0.8rem;
    /* width: 99%; */
    /* align-self: center; */
}
.proposta-nao{
    background: #d9534f;
    height: 0.8rem;
    /* width: 99%; */
    /* align-self: center; */
}
.proposta-bottom{
    /* margin-top: 1rem; */
}
.participacao_social-votacao-container{
    /* display: flex;
    justify-content: space-between; */
}
.proposta-titulo_participacao{
    margin: 0.5rem 0;
}

.btn-proposta{
    background-color: #0095DA;
}
.proposta-button-icone{
    max-height: 85%;
    color: white;
    margin-right: 0.3rem;
}
.button-texto{
    color: white;
    font-size: x-small;
}
.btn{
    border-radius: 0 !important;
}
.votacoes-container{
    align-items: flex-start;
}
.proposta-resultado--wrapp {
    display: flex;
    align-items: flex-start;
    justify-items: flex-start;
    
}
.proposta-bar--wrapp {
    float: left;
    display: flex;
}
.proposta-tramite{
    margin-top: 1rem;
}
.font_smaller{
    font-size: smaller;
}
.inline-block{
    display: inline-block;
}

.quadrado{
    height: 0.7rem;
    width: 0.7rem;
    margin: 0.3rem;
    background: #c4c4c4;
}
.retangulo{
    height: 0.7rem;
    width: 3rem;
    margin: 0.3rem;
    background: #c4c4c4;
}
.circulo{
    font-size: 2rem;
    color: #c4c4c4;
}

.verde{
    color: #28a745
}
.bold{
    font-weight: bold;
}
.circulo-texto{
    display: inline-block;
    text-align: center;
}
.circulo-texto-grande{
    display: inline-block;
    text-align: center;
    position: relative;
    left:-18px;
}
.bold{
    font-weight: bold;
}


/* .btn {
    padding: 0 1.5rem;
    font-size: x-small;
}
 
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
} */
 
/* .btn-primary {
    background: #0095DA;
    color: #ffffff;
} */
 
/* .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}
 
.btn-primary:active, .btn-primary.active {
    background: #0095DA;
    box-shadow: none;
} */
/* .proposta-button{
    height: 30px;
    min-width: 90px;
    border: 0;
    border-radius: 0;
} */
.icon-voto{
    font-size: 150%;
    padding-right: 3px;
}
.icon-propostas_relacionadas_pasta{
    font-size: 210%;
    color: #c4c4c4;
    margin-right: 0.8rem;
}
